bin
.cache
include/CamlLight.def
include/CamlLight-parenthesize.str
include/CamlLight-Permissive.def
include/CamlLight.generated.pp.af
include/CamlLight.packed.esv
include/CamlLight.pp.af
include/CamlLight.rtg
include/CamlLight.str
include/CamlLight.tbl
include/camllight.rtree
include/camllight.ctree
include/camllight.ctree.dep
include/camllight.jar
editor/java/trans
editor/CamlLight-*.generated.esv
syntax/CamlLight*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
*.aterm
syntax/*.sdf
syntax/*/*.sdf
