bin
.cache
include/camllight.ctree
include/camllight.ctree.dep
include/CamlLight.def
include/CamlLight.generated.pp
include/CamlLight.generated.pp.af
include/CamlLight.packed.esv
include/CamlLight.pp.af
include/CamlLight.rtg
include/CamlLight.str
include/CamlLight.tbl
include/camllight-java.jar
include/CamlLight-parenthesize.str
include/CamlLight-Permissive.def
editor/java/trans
editor/CamlLight-*.generated.esv
syntax/CamlLight*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
*.aterm
src-gen/
target/
editor/*.generated.*
trans/*.generated.*
trans/analysis/*.generated.*
trans/analysis/names.str
